<nz-select [(ngModel)]="name" style="width: 200px;">
    <nz-option nzLabel="ssss" nzValue="name"></nz-option>
    <nz-option nzLabel="sdf" nzValue="qwertyuio"></nz-option>
    <nz-option nzLabel="nassdfsdfme" nzValue="ghjkl"></nz-option>
</nz-select>

<nz-tabset>
    <nz-tab nzTitle="Tab 1">
        Content of Tab Pane 1
    </nz-tab>
    <nz-tab nzTitle="Tab 2">
        Content of Tab Pane 2
    </nz-tab>
    <nz-tab nzTitle="Tab 3">
        Content of Tab Pane 3
    </nz-tab>
</nz-tabset>

<nz-progress [nzPercent]="75" nzType="circle"></nz-progress>
<nz-progress [nzPercent]="70" nzType="circle" nzStatus="exception"></nz-progress>
<nz-progress [nzPercent]="100" nzType="circle"></nz-progress>